{% extends 'base.html' %}
{% block title %}Refund Policy - CodeApt{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="card shadow-sm border-0">
        <div class="card-body p-5">
            <h1 class="mb-4 fw-bold">Refund and Cancellation Policy</h1>
            <hr>
            <p class="lead">
                This refund and cancellation policy outlines how you can cancel or seek a refund for a product / service that you have purchased through the Platform. Under this policy:
            </p>
            <div class="alert alert-primary border-0">
                <strong>1. Refund Processing:</strong> In case of any refunds approved by CODEAPT LLP, it will take 5 days for the refund to be processed to you. 
            </div>

        </div>
    </div>
</div>
{% endblock %}